<p id="notice"><%= notice %></p>

<h1 class="title">Browse the current offers</h1>

<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-6">
      <div class="card">
        <% if listing.images && listing.images.first %>
         <%= image_tag listing.images.first, class: "card-img-top" %>
        <% else %>
          <p class="card-img-top">No image uploaded</p>
        <% end %>
      </div>
      <div class="card-body border border-warning">
        <p class="card-text">
          <strong><%= listing.title %></strong>
          <p>Denomination: <%= listing.denomination %></p>
          <p>Price: $<%= listing.price %></p>
          <%= link_to 'View', listing_path(listing.id), class: "btn btn-warning" %>
        </p>
      </div>
      <br>
    </div>
  <% end %>
</div>