<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @address.unit %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @address.post_code %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @address.suburb %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @address.profile_id %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
