<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @year.year %>
</p>

<p>
  <strong>Bc ad:</strong>
  <%= @year.bc_ad %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @year.listing_id %>
</p>

<%= link_to 'Edit', edit_year_path(@year) %> |
<%= link_to 'Back', years_path %>
